extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/", method="post")
    label(for="newpost") Twit to your hearts content:
    textarea(name="newpost", id="newpost")
    input(type="submit", value="Post!")

  #{allPosts}